.card {
  border: 1px #2a878c solid;
  background-color: black !important;
  opacity: 0.8;
  margin: 10px 0;
  color: #2a878c;
  padding: 10px;
}
// h2 {
//   border: 1px #2a878c solid;
//   background-color: black !important;
// }
